/*Formatação do submenu Cadastro*/
#cadastroTipoProduto{
	border: 1px solid black;
	width: 70%;
	height: 75px;
	margin-left: 5%;
	margin-top: 10px;
	padding: 1px;
}
#cadastroTipoProduto input{
	width: 4%;
	height: 15px;
	margin-left: 8%;
}
